@import "variables";
@import "mixin";

main {
  .features__btn {
    display: none;
  }
  .mt-8 {
    margin-top: 8rem;
  }
  .mb-12 {
    margin-bottom: 12rem;
  }
  .features {
    font-family: $font-family;
    text-align: center;
    padding: 0 3rem;
    padding-top: 14rem;
    @include for-desktop() {
      padding-top: 18rem;
    }
    h2 {
      color: $neutral-dark-blue;
      margin-bottom: 1.5rem;
      @include for-desktop() {
        font-size: 3rem;
      }
    }
    p {
      color: $neutral-gray-blue;
      font-size: 1.5rem;
      margin-bottom: 4rem;
      @include for-desktop() {
        padding: 0 30rem;
        margin-bottom: 0rem;
      }
    }
    &__headers {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      margin-top: 2.5rem;
      margin-bottom: 9rem;
      @include for-desktop() {
        flex-direction: row;
        border-bottom: 1px solid $neutral-gray-blue;
        margin-inline: 18rem;
      }
      h4:first-child {
        border-top: 1px solid $neutral-gray-blue;
        position: relative;
        color: $neutral-dark-blue;
        @include for-desktop() {
          border-top: 0;
          border-bottom: 4px solid $primary-color-2;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 7.8rem;
          background-color: $primary-color-2;
          height: 4px;
          width: 50%;
          @include for-desktop() {
            display: none;
          }
        }
      }

      h4 {
        border-bottom: 1px solid $neutral-gray-blue;
        width: 100%;
        padding: 2rem;
        font-weight: $font-weight-400;
        color: $neutral-gray-blue;
        @include for-desktop() {
          border: 0;
        }
      }
    }
    &__flex {
      @include for-desktop() {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        margin-bottom: 15rem;
        padding: 0 4.5rem;
        img {
          transform: scale(0.9);
          margin-top: -2rem;
        }
      }

      &-content {
        @include for-desktop() {
          text-align: left;
          p {
            @include for-desktop() {
              padding: 0;
              margin: 0;
            }
          }
          h2 {
            @include for-desktop() {
              margin-top: 0;
            }
          }
          .features__btn {
            @include for-desktop() {
              display: initial;
              background-color: $primary-color-1;
              margin-top: 3rem;
              color: #fff;
              padding: 1rem 2rem;
              border-radius: 5px;
              font-size: 1.6rem;
              cursor: pointer;
              transition: all 0.25s ease-in-out;
              border: 2px solid transparent;
            }
          }
          .features__btn:hover {
            background-color: #fff;
            color: $primary-color-1;
            border: 2px solid $primary-color-1;
          }
        }
      }
    }
  }
}
