.footer {
  background-color: $neutral-dark-blue;
  padding: 0 3rem;
  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    ul {
      display: flex;
      list-style-type: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;
      padding: 0;

      li {
        list-style-type: none;
      }
      a {
        font-size: 1.6rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #fff;
      }
    }
    .svg {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
    .footer__svg {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(218deg)
        brightness(104%) contrast(101%);
    }
  }
  &__logo-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 4rem;
    gap: 4.5rem;
  }
}
