@import "variables";
@import "mixin";

.header {
  font-family: $font-family;
  padding: 0 2rem;
  @include for-desktop() {
    padding: 0 10rem;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    padding-top: 4rem;
    @include for-lrg-desktop() {
      padding-top: 5rem;
    }

    ul {
      display: none;
      @include for-desktop() {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 0;
        margin: 0;
        list-style-type: none;
        a {
          @include for-desktop() {
            text-decoration: none;
            color: $neutral-dark-blue;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.5rem;
            transition: all 0.25s ease-in-out;
          }
        }
        a:hover {
          @include for-desktop() {
            color: $primary-color-2;
          }
        }
        .active {
          @include for-desktop() {
            background-color: $primary-color-2;
            padding: 1rem 2.5rem;
            color: #fff;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border: 2px solid transparent;
          }
        }
        .active:hover {
          @include for-desktop() {
            background-color: #fff;
            border: 2px solid $primary-color-2;
          }
        }
      }
    }
    .header__hamburger {
      position: relative;
      height: 3px;
      width: 2.3rem;
      background-color: #000;
      cursor: pointer;
      @include for-desktop() {
        display: none;
      }
      &::before {
        content: " ";
        position: absolute;
        top: -1rem;
        height: 3px;
        width: 2.3rem;
        background-color: #000;
        cursor: pointer;
      }
      &::after {
        content: " ";
        position: absolute;
        top: 1rem;
        height: 3px;
        width: 2.3rem;
        background-color: #000;
        cursor: pointer;
      }
    }
  }
  &__images {
    position: relative;
    @include for-desktop() {
      position: static;
    }
  }
  &__flex {
    @include for-desktop() {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      margin-top: 10rem;
      gap: 10.5rem;
    }
  }
  &__svg {
    transform: scale(1.05);
    width: 100rem;
    height: 100%;
    margin-top: 7rem;
    margin-left: -1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include for-desktop() {
      transform: scale(1.3);
      margin: 0;
      margin-top: 5rem;
    }
    @include for-lrg-desktop() {
      margin: 0;
      margin-top: 5rem;
      transform: scale(1.25);
    }
  }
  &__content {
    margin-top: 6rem;
    padding: 0 2rem;
    text-align: center;
    font-size: 1.5rem;
    @include for-desktop() {
      text-align: left;
      padding: 0;
    }
    &-heading {
      line-height: 1.4;
      text-transform: capitalize;
      color: $neutral-dark-blue;
      margin-bottom: 2rem;
      @include for-desktop() {
        line-height: 1.2;
        font-size: 3.5rem;
      }
      @include for-lrg-desktop() {
        font-size: 5rem;
      }
    }
    &-description {
      color: $neutral-gray-blue;
      margin-bottom: 3rem;
      @include for-lrg-desktop() {
        font-size: 2rem;
        line-height: 1.7;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    @include for-desktop() {
      justify-content: flex-start;
    }

    .btn {
      padding: 1rem 1rem;
      border: 0;
      cursor: pointer;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: 2px solid transparent;
    }
    &-1 {
      color: #fff;
      background-color: $primary-color-1;
      transition: all 0.25s ease-in-out;
      @include for-desktop() {
        &:hover {
          background-color: #fff;
          border: 2px solid $primary-color-1;
          color: $primary-color-1;
        }
      }
    }
    &-2 {
      background-color: #f7f7f7;
      color: $neutral-dark-blue;
      transition: all 0.25s ease-in-out;
      &:hover {
        border: 2px solid #000;
      }
    }
  }
}
