// PRIMARY COLORS
$primary-color-1: hsl(231, 69%, 60%);
$primary-color-2: hsl(0, 94%, 66%);
$neutral-gray-blue: hsl(229, 8%, 60%);
$neutral-dark-blue: hsl(229, 31%, 21%);
$default-font-size: 1.8rem;
$font-family: "Rubik", sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
