:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1.8rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.header {
  font-family: "Rubik", sans-serif;
  padding: 0 2rem;
}
@media (min-width: 1000px) {
  .header {
    padding: 0 10rem;
  }
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  padding-top: 4rem;
}
.header nav ul {
  display: none;
}
@media (min-width: 1000px) {
  .header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .header nav ul a {
    text-decoration: none;
    color: hsl(229deg, 31%, 21%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    transition: all 0.25s ease-in-out;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .header nav ul a:hover {
    color: hsl(0deg, 94%, 66%);
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .header nav ul .active {
    background-color: hsl(0deg, 94%, 66%);
    padding: 1rem 2.5rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid transparent;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  .header nav ul .active:hover {
    background-color: #fff;
    border: 2px solid hsl(0deg, 94%, 66%);
  }
}
.header nav .header__hamburger {
  position: relative;
  height: 3px;
  width: 2.3rem;
  background-color: #000;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .header nav .header__hamburger {
    display: none;
  }
}
.header nav .header__hamburger::before {
  content: " ";
  position: absolute;
  top: -1rem;
  height: 3px;
  width: 2.3rem;
  background-color: #000;
  cursor: pointer;
}
.header nav .header__hamburger::after {
  content: " ";
  position: absolute;
  top: 1rem;
  height: 3px;
  width: 2.3rem;
  background-color: #000;
  cursor: pointer;
}
.header__images {
  position: relative;
}
@media (min-width: 1000px) {
  .header__images {
    position: static;
  }
}
@media (min-width: 1000px) {
  .header__flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    gap: 10.5rem;
  }
}
.header__svg {
  transform: scale(1.05);
  width: 100rem;
  height: 100%;
  margin-top: 7rem;
  margin-left: -1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1000px) {
  .header__svg {
    transform: scale(1.3);
    margin: 0;
    margin-top: 5rem;
  }
}
.header__content {
  margin-top: 6rem;
  padding: 0 2rem;
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 1000px) {
  .header__content {
    text-align: left;
    padding: 0;
  }
}
.header__content-heading {
  line-height: 1.4;
  text-transform: capitalize;
  color: hsl(229deg, 31%, 21%);
  margin-bottom: 2rem;
}
@media (min-width: 1000px) {
  .header__content-heading {
    line-height: 1.2;
    font-size: 3.5rem;
  }
}
.header__content-description {
  color: hsl(229deg, 8%, 60%);
  margin-bottom: 3rem;
}
.header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 1000px) {
  .header__buttons {
    justify-content: flex-start;
  }
}
.header__buttons .btn {
  padding: 1rem 1rem;
  border: 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid transparent;
}
.header__buttons-1 {
  color: #fff;
  background-color: hsl(231deg, 69%, 60%);
  transition: all 0.25s ease-in-out;
}
@media (min-width: 1000px) {
  .header__buttons-1:hover {
    background-color: #fff;
    border: 2px solid hsl(231deg, 69%, 60%);
    color: hsl(231deg, 69%, 60%);
  }
}
.header__buttons-2 {
  background-color: #f7f7f7;
  color: hsl(229deg, 31%, 21%);
  transition: all 0.25s ease-in-out;
}
.header__buttons-2:hover {
  border: 2px solid #000;
}

main .features__btn {
  display: none;
}
main .mt-8 {
  margin-top: 8rem;
}
main .mb-12 {
  margin-bottom: 12rem;
}
main .features {
  font-family: "Rubik", sans-serif;
  text-align: center;
  padding: 0 3rem;
  padding-top: 14rem;
}
@media (min-width: 1000px) {
  main .features {
    padding-top: 18rem;
  }
}
main .features h2 {
  color: hsl(229deg, 31%, 21%);
  margin-bottom: 1.5rem;
}
@media (min-width: 1000px) {
  main .features h2 {
    font-size: 3rem;
  }
}
main .features p {
  color: hsl(229deg, 8%, 60%);
  font-size: 1.5rem;
  margin-bottom: 4rem;
}
@media (min-width: 1000px) {
  main .features p {
    padding: 0 30rem;
    margin-bottom: 0rem;
  }
}
main .features__headers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 9rem;
}
@media (min-width: 1000px) {
  main .features__headers {
    flex-direction: row;
    border-bottom: 1px solid hsl(229deg, 8%, 60%);
    margin-inline: 18rem;
  }
}
main .features__headers h4:first-child {
  border-top: 1px solid hsl(229deg, 8%, 60%);
  position: relative;
  color: hsl(229deg, 31%, 21%);
}
@media (min-width: 1000px) {
  main .features__headers h4:first-child {
    border-top: 0;
    border-bottom: 4px solid hsl(0deg, 94%, 66%);
  }
}
main .features__headers h4:first-child::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 7.8rem;
  background-color: hsl(0deg, 94%, 66%);
  height: 4px;
  width: 50%;
}
@media (min-width: 1000px) {
  main .features__headers h4:first-child::before {
    display: none;
  }
}
main .features__headers h4 {
  border-bottom: 1px solid hsl(229deg, 8%, 60%);
  width: 100%;
  padding: 2rem;
  font-weight: 400;
  color: hsl(229deg, 8%, 60%);
}
@media (min-width: 1000px) {
  main .features__headers h4 {
    border: 0;
  }
}
@media (min-width: 1000px) {
  main .features__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 15rem;
    padding: 0 4.5rem;
  }
  main .features__flex img {
    transform: scale(0.9);
    margin-top: -2rem;
  }
}
@media (min-width: 1000px) {
  main .features__flex-content {
    text-align: left;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  main .features__flex-content p {
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  main .features__flex-content h2 {
    margin-top: 0;
  }
}
@media (min-width: 1000px) and (min-width: 1000px) {
  main .features__flex-content .features__btn {
    display: initial;
    background-color: hsl(231deg, 69%, 60%);
    margin-top: 3rem;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border: 2px solid transparent;
  }
}
@media (min-width: 1000px) {
  main .features__flex-content .features__btn:hover {
    background-color: #fff;
    color: hsl(231deg, 69%, 60%);
    border: 2px solid hsl(231deg, 69%, 60%);
  }
}

.download {
  padding: 0 3.5rem;
}
@media (min-width: 1000px) {
  .download {
    padding: 0 6.2rem;
  }
}
.download .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 1000px) {
  .download .cards {
    flex-direction: row;
    margin-bottom: 15rem;
    margin-top: 2rem;
  }
}
.download .cards .card {
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (min-width: 1000px) {
  .download .cards .card__2 {
    margin-top: 5rem;
  }
}
@media (min-width: 1000px) {
  .download .cards .card__3 {
    margin-top: 10rem;
  }
}
.download .cards .card__logo {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.download .cards .card__dots {
  width: 100%;
  margin-top: 2rem;
}
.download .cards .card h3 {
  color: hsl(229deg, 31%, 21%);
  gap: 1rem;
}
.download .cards .card p {
  color: hsl(229deg, 8%, 60%);
  margin-top: -1rem;
  font-size: 1.6rem;
}
.download .cards .card__button {
  background-color: hsl(231deg, 69%, 60%);
  border: 0;
  cursor: pointer;
  padding: 1rem 3rem;
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
  border: 2px solid transparent;
}
@media (min-width: 1000px) {
  .download .cards .card__button {
    padding: 1rem 2.8rem;
  }
}
.download .cards .card__button:hover {
  background-color: #fff;
  border: 2px solid hsl(231deg, 69%, 60%);
  color: hsl(231deg, 69%, 60%);
}

.faq {
  padding: 0 3.5rem;
  margin-top: 14rem;
  text-align: center;
}
@media (min-width: 1000px) {
  .faq {
    padding: 0 30rem;
  }
}
.faq__content h2 {
  color: hsl(229deg, 31%, 21%);
  line-height: 1.3;
  margin-bottom: 2rem;
}
.faq__content p {
  color: hsl(229deg, 8%, 60%);
  margin-bottom: 6rem;
}
.faq__questions .question__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0;
  border-bottom: 1px solid hsl(229deg, 8%, 60%);
  margin-bottom: 1.7rem;
  transition: all 0.3s ease-in-out;
}
.faq__questions .question__flex p {
  color: hsl(229deg, 31%, 21%);
  text-align: left;
  font-size: 1.6rem;
}
.faq__questions .question__flex span {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.faq__questions .ht {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: hsl(229deg, 8%, 60%);
  text-align: left;
  line-height: 1.7;
  border-bottom: 1px solid hsl(229deg, 8%, 60%);
  padding-bottom: 1rem;
}
.faq__questions .hiddentext1 {
  display: none;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.faq__questions .hiddentext2 {
  display: none;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.faq__questions .hiddentext3 {
  display: none;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.faq__questions .hiddentext4 {
  display: none;
  transition: all 0.3s ease-in-out;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.faq__buttons {
  display: flex;
  justify-content: center;
}
.faq__button {
  cursor: pointer;
  border: 0;
  margin-top: 5rem;
  margin-bottom: 10rem;
  padding: 1.5rem 3rem;
  background-color: hsl(231deg, 69%, 60%);
  color: #fff;
  border-radius: 5px;
}
@media (min-width: 1000px) {
  .faq__button {
    margin-bottom: 15rem;
  }
}

.img__color {
  filter: invert(53%) sepia(14%) saturate(3295%) hue-rotate(318deg) brightness(97%) contrast(102%);
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.contact {
  padding: 7rem 3.5rem;
  text-align: center;
  background-color: hsl(231deg, 69%, 60%);
  color: #fff;
}
@media (min-width: 1000px) {
  .contact {
    padding: 6rem 35rem;
  }
}
.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact__content h4 {
  font-size: 1.4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}
@media (min-width: 1000px) {
  .contact__content h4 {
    margin-bottom: 2rem;
  }
}
.contact__content h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
@media (min-width: 1000px) {
  .contact__content h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 1000px) {
  .contact__form {
    flex-direction: row;
  }
}
.contact__form input,
.contact__form button {
  width: 100%;
  padding: 1rem 2.3rem;
  border: 0;
  border-radius: 5px;
}
@media (min-width: 1000px) {
  .contact__form input,
  .contact__form button {
    width: initial;
  }
}
.contact__form ::placeholder {
  color: hsl(229deg, 8%, 60%);
  font-size: 1.6rem;
}
.contact__form button {
  cursor: pointer;
  background-color: hsl(0deg, 94%, 66%);
  color: #fff;
  font-weight: 500;
  border: 2px solid transparent;
  transition: all 0.25s ease-in-out;
}
@media (min-width: 1000px) {
  .contact__form button:hover {
    border: 2px solid hsl(0deg, 94%, 66%);
    background-color: #fff;
    color: hsl(0deg, 94%, 66%);
  }
}

.footer {
  background-color: hsl(229deg, 31%, 21%);
  padding: 0 3rem;
}
.footer__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 1000px) {
  .footer__flex {
    flex-direction: row;
    padding: 4rem 5rem;
    gap: 15rem;
  }
}
.footer__flex ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 0;
}
@media (min-width: 1000px) {
  .footer__flex ul {
    flex-direction: row;
    gap: 3rem;
  }
}
.footer__flex ul li {
  list-style-type: none;
}
.footer__flex ul a {
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  transition: all 0.25s ease-in-out;
}
@media (min-width: 1000px) {
  .footer__flex ul a:hover {
    color: hsl(0deg, 94%, 66%);
  }
}
.footer__flex .svg {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
@media (min-width: 1000px) {
  .footer__flex .svg {
    margin: 0;
    cursor: pointer;
  }
}
.footer__flex .footer__svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(218deg) brightness(104%) contrast(101%);
}
.footer__logo-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 4rem;
  gap: 4.5rem;
}
@media (min-width: 1000px) {
  .footer__logo-links {
    margin: 0;
  }
}
@media (min-width: 1000px) {
  .footer__logo-links img {
    cursor: pointer;
  }
}

/*# sourceMappingURL=style.css.map */
